{require_otp_vsn, "R19"}.

{lib_dirs, ["deps"]}.

{plugins, [rebar3_hex]}.

{erl_opts, [ warnings_as_errors
           , {parse_transform, lager_transform}]}.

{xref_checks, [ undefined_function_calls
              , deprecated_function_calls]}.

{deps, [ {brunhilde, "1.6.0"}
       , {uuid_erl, "1.5.3"}
       , {lager, "3.6.4"}
       , {exemplar, "0.5.0-rc1"}
       ]}.

{post_hooks, [ {compile,
                "lfec -o $REBAR_DEPS_DIR/purestyle/ebin src/homepage.lfe"}
             ]}.
