{require_otp_vsn, "R19"}.

{lib_dirs, ["deps"]}.

{erl_opts, [warnings_as_errors]}.

{xref_checks, [ undefined_function_calls
              , deprecated_function_calls]}.

{deps, [ {brunhilde, "",
               {git, "git://github.com/ksallberg/brunhilde",
               {ref, "9d265fa8e5cd483dd5448f09c63734e5ca4be468"}}}
       , {uuid, "",
               {git, "git@github.com:okeuday/uuid.git",
               {tag, "v1.5.3"}}}
       ]}.
