{require_otp_vsn, "R19"}.

{lib_dirs, ["deps"]}.

{erl_opts, [warnings_as_errors]}.

{xref_checks, [ undefined_function_calls
              , deprecated_function_calls]}.

{deps, [ {brunhilde, "",
               {git, "git://github.com/ksallberg/brunhilde",
               {ref, "b6fb2cf83714790db94136411b2d273dbb181fd6"}}}
       , {uuid, "",
               {git, "git@github.com:okeuday/uuid.git",
               {tag, "v1.5.3"}}}
       ]}.
