img {
    image-orientation: from-image;
    width: auto;
}

@font-face{
    font-family:"unscii16";
    src: url("unscii-16.woff") format("woff"),
    url("unscii-16.ttf") format("ttf");
}

html {
    height: 100%;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: #6076C5;
}

body {
    font-family:"unscii16",monospace;
    color: #6076C5;
    min-height: calc(100% - 5em);
    background-color: #20398D;
    overflow-x: hidden; /* For Opera */
    -webkit-box-shadow:
    inset #6076C5 0 0 0 4em;
    -moz-box-shadow:
    inset #6076C5 0 0 0 4em;
    box-shadow:
    inset #6076C5 0 0 0 4em;
    padding-left: 5em;
    padding-top: 5em;
    margin: 0;
}

.tileMe li {
    display: inline;
}
